<div class="jumbotron">
	<input id="input" type="text"> <button id="rec">Speak</button>
		<br>Response<br> <textarea id="response" cols="40" rows="20"></textarea>
</div>	

<% if user_signed_in? %>
	<ul class="nav navbar-nav navbar-left">
		<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
	</ul>
<% end %>