<div class="jumbotron">
	<h1>Welcome to 🤔</h1>
</div>	

<% if user_signed_in? %>
	<ul class="nav navbar-nav navbar-left">
		<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
	</ul>
<% end %>