<div class="container">
	<div class="HolyGrail-body">
  <div class="title">
    <h1 id="main-text">Hi there.<br>I'm Eva</h1>
  </div>
  <div class="event-choice">
    <section class="question-context">
            <div class="question-context__choice">
        <i class="material-icons">cake</i>
        <div>Birthday</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">school</i>
        <div>Graduation</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">weekend</i>
        <div>Sleepover</div>
      </div>
    </section>
    <section class="question-context">
      <div class="question-context__choice">
        <i class="material-icons">home</i>
        <div>Open House</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">people</i>
        <div>Club Event</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">free_breakfast</i>
        <div>Tea Party</div>
      </div>
    </section>
  </div>

  <div class="interest-choice">
    <section class="question-context">
      <div class="question-context__choice">
        <i class="material-icons">pets</i>
        <div>Pets</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">pool</i>
        <div>Pool</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">spa</i>
        <div>Princess</div>
      </div>
    </section>
  </div>


<section class="review-page">
    <div class="list">
      <div class="proposal">Proposal</div>

      <div class="list__title">Cake</div>
      <div class="big__wrapper">
        <div class="list__left">
          <img class="list__image" src="https://s-media-cache-ak0.pinimg.com/236x/5f/07/5d/5f075d51694e286605249c11c76ea5af.jpg">
          <div class="list__wrapper">
            <div class="list__name"><%= @best[1]%></div>
            <div class="list__rating"><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i></div>
          </div>
        </div>
        <div class="list__right">
          <div class="list__price">$<%= @best[4]%></div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="list">
      <div class="list__title">Caterer</div>
      <div class="big__wrapper">
        <div class="list__left">
          <img class="list__image" src="http://www.seedsit.com/images/products/detail/Logo_Leaves1.png">
          <div class="list__wrapper">
            <div class="list__name">Leaf Banquet</div>
            <div class="list__rating"><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i></div>
          </div>
        </div>
        <div class="list__right">
          <div class="list__price">$265</div>
        </div>
      </div>
    </div>
       
        <div class="divider"></div>

    <div class="list">
      <div class="list__title">Photographer</div>

      <div class="big__wrapper">
        <div class="list__left">
          <img class="list__image" src="https://scontent.xx.fbcdn.net/v/t1.0-9/1374838_605690459469386_2124439304_n.jpg?oh=9d18656a5e363da5f2e0fadd48b8e849&oe=586D5407">
          <div class="list__wrapper">
            <div class="list__name">LE Gallery</div>
            <div class="list__rating"><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i></div>
          </div>
        </div>
        <div class="list__right">
          <div class="list__price">$300</div>
        </div>
      </div>
    </div>


        <div class="divider"></div>

        <div class="list">
      <div class="list__title">Decoration</div>

      <div class="big__wrapper">
        <div class="list__left">
          <img class="list__image" src="http://www.nhendersondecorating.com/decorating1.jpg">
          <div class="list__wrapper">
            <div class="list__name">Decorating ONE Sdn. Bhd.</div>
            <div class="list__rating"><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i></div>
          </div>
        </div>
        <div class="list__right">
          <div class="list__price">$150</div>
        </div>
      </div>
    </div>

    
        <div class="divider"></div><div class="list">
      <div class="list__title">Costume</div>

      <div class="big__wrapper">
        <div class="list__left">
          <img class="list__image" src="https://checkout.magishop.com/magibiz/fancydressstore.ie/img/logo_fancydressstore.png">
          <div class="list__wrapper">
            <div class="list__name">FancyDress.com</div>
            <div class="list__rating"><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i></div>
          </div>
        </div>
        <div class="list__right">
          <div class="list__price">$200</div>
        </div>
      </div>
    </div>

    
        <div class="divider"></div><div class="list">
      
  </section>



  </div>

</div>