<div class="container">
	<div class="title">
		<h1 id="main-text">What event you want to plan?</h1>
	</div>
	<div class="row microphone">
		<div class="col-md-2 col-md-offset-5">
			<%= link_to "#" do  %>
				<i class="fa fa-microphone microphone-btn" aria-hidden="true"></i>
			<% end %> 
		</div>
	</div>
	<div class="HolyGrail-body">
			<div class="row">
		    <div class="question-context__choice col-md-4 col-xs-1">
		      <i class="material-icons">cake</i>
		      <div>Birthday</div>
		    </div>
		    <div class="question-context__choice col-md-4 col-xs-1">
		      <i class="material-icons">school</i>
		      <div>Graduation</div>
		    </div>
		    <div class="question-context__choice col-md-4 col-xs-1">
		      <i class="material-icons">weekend</i>
		      <div>Slumber Party</div>
		    </div>
		  </div>
		  <div class="row">
		    <div class="question-context__choice col-md-4">
		      <i class="material-icons">home</i>
		      <div>Open House</div>
		    </div>
		    <div class="question-context__choice col-md-4">
		      <i class="material-icons">people</i>
		      <div>Club Event</div>
		    </div>
		    <div class="question-context__choice col-md-4">
		      <i class="material-icons">free_breakfast</i>
		      <div>Tea Party</div>
		    </div>
		  </div>
	</div>
</div>