<div class="container">
	<div class="title">
		<h1 id="main-text">What do <br>you want to plan?<span id="rec">hi</span></h1>

	</div>
	<div class="space"></div>
	<div class="HolyGrail-body">
    <section class="question-context">
      <div class="question-context__choice">
        <i class="material-icons">cake</i>
        <div>Birthday</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">school</i>
        <div>Graduation</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">weekend</i>
        <div>Sleepover</div>
      </div>
    </section>
    <section class="question-context">
      <div class="question-context__choice">
        <i class="material-icons">home</i>
        <div>Open House</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">people</i>
        <div>Club Event</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">free_breakfast</i>
        <div>Tea Party</div>
      </div>
    </section>
  </div>

</div>