<div class="container">
	<div class="HolyGrail-body">
  <div class="title">
    <h1 id="main-text">Hi there. <br> I'm Eva</h1>
  </div>
  <div class="event-choice">
    <section class="question-context">
            <div class="question-context__choice">
        <i class="material-icons">cake</i>
        <div>Birthday</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">school</i>
        <div>Graduation</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">weekend</i>
        <div>Sleepover</div>
      </div>
    </section>
    <section class="question-context">
      <div class="question-context__choice">
        <i class="material-icons">home</i>
        <div>Open House</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">people</i>
        <div>Club Event</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">free_breakfast</i>
        <div>Tea Party</div>
      </div>
    </section>
  </div>

  <div class="interest-choice">
    <section class="question-context">
      <div class="question-context__choice">
        <i class="material-icons">pets</i>
        <div>Pets</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">pool</i>
        <div>Pool</div>
      </div>
      <div class="question-context__choice">
        <i class="material-icons">spa</i>
        <div>Princess</div>
      </div>
    </section>
  </div>


<section class="review-page">
    <div class="list">
      <div class="list__title">Cake</div>
      <div class="big__wrapper">
        <div class="list__left">
          <img class="list__image" src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg">
          <div class="list__wrapper">
            <div class="list__name"><%= @best[1]%></div>
            <div class="list__rating"><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i></div>
          </div>
        </div>
        <div class="list__right">
          <div class="list__price">$<%= @best[4]%></div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="list">
      <div class="list__title">Caterer</div>
      <div class="big__wrapper">
        <div class="list__left">
          <img class="list__image" src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg">
          <div class="list__wrapper">
            <div class="list__name">Leaf Banquet</div>
            <div class="list__rating"><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i></div>
          </div>
        </div>
        <div class="list__right">
          <div class="list__price">$265</div>
        </div>
      </div>
    </div>
       
        <div class="divider"></div>

    <div class="list">
      <div class="list__title">Photographer</div>

      <div class="big__wrapper">
        <div class="list__left">
          <img class="list__image" src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg">
          <div class="list__wrapper">
            <div class="list__name">LE Gallery</div>
            <div class="list__rating"><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i></div>
          </div>
        </div>
        <div class="list__right">
          <div class="list__price">$200</div>
        </div>
      </div>
    </div>


        <div class="divider"></div>

        <div class="list">
      <div class="list__title">Decoration</div>

      <div class="big__wrapper">
        <div class="list__left">
          <img class="list__image" src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg">
          <div class="list__wrapper">
            <div class="list__name">Name</div>
            <div class="list__rating"><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i></div>
          </div>
        </div>
        <div class="list__right">
          <div class="list__price">$150</div>
        </div>
      </div>
    </div>

    
        <div class="divider"></div><div class="list">
      <div class="list__title">Title</div>

      <div class="big__wrapper">
        <div class="list__left">
          <img class="list__image" src="https://pixabay.com/static/uploads/photo/2015/10/01/21/39/background-image-967820_960_720.jpg">
          <div class="list__wrapper">
            <div class="list__name">Name</div>
            <div class="list__rating"><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i><i class="material-icons star-color">star</i></div>
          </div>
        </div>
        <div class="list__right">
          <div class="list__price">$65</div>
        </div>
      </div>
    </div>

    
        <div class="divider"></div><div class="list">
      
  </section>



  </div>

</div>