/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: dodgerblue;
  
}
.listening {
  -webkit-animation: pulse 1s alternate infinite;
  -moz-animation: pulse 1s alternate infinite;
}

#main-text{
-webkit-user-select: none;
-moz-user-select: none;
}
.event-choice, .interest-choice {
	display: none;
}

.review-page {
  position: absolute;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.list__image {
  height: 64px;
  width: 64px;
}

.list__wrapper {
  height: 64px;
  margin-left: 8px;
}

.list__left {
  display: flex;
}

.big__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.divider {
  height: 1px;
  background-color: rgba(0,0,0,0.12);
}

.list {
  padding: 12px;
}

.list__title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}

.list__name {
  color: rgba(0,0,0,0.88);
	margin-left: 4px;
  margin-bottom: 8px;
  font-size: 20px;
}

.list__price {
  font-size: 20px;
  font-weight: bold;
	color: #4CAF50;
}

.star-color {
	color: #FFC107;
}